html {
    width: 100%;
    height: 100%;
    cursor: url('lock1600.png'), auto;
}

body {

    background-image: url(tower.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
  font-size: 2em;
    width: 100%;
    height: 100%;
/*    background-color: red; */
}

@media screen and (max-device-width : 380px)
{
  body
  {
    font-size: 3em;
  }
}

h1{
    font-family: 'Inconsolata', monospace;
    font-size: 180%;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
}

p{
    font-family: 'Inconsolata', monospace;
    font-size: 100%;
    line-height: 110%;
    color: white;
    text-align: center;
/*    text-shadow: 1px 1px #cccccc;*/
}

a, a:visited {
    color: white;
}

#div1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    margin: 0;
    padding: 0;
    z-index: 1;
    opacity: 0.4;

    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {opacity:0.4;}
    50%  {opacity:1;}
    100% {opacity:0.4;}
}

/* Standard syntax */
@keyframes example {
    0%   {opacity:0.4;}
    50%  {opacity:0.6;}
    100% {opacity:0.4;}
}

#center{
    width: 100%;
    height: 120%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

}


#div2 {
    width: 90%;
    height: 100%;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    margin-top: 2%;
    margin-left: 2%;
    z-index: 2;
}
